<section id="title">
<div class="container mt-2">
	<h1 class="display-1 text-center">{{ page.title | default: page.rpgtitle | default: site.title }}</h1>
	{%- if page.title != null %}
	<h5 class="mt-3 text-center">{{ page.rpgtitle }}: {{ page.rpgdescription }}</h5>
	{%- elsif page.rpgtitle != null %}
	<h5 class="mt-3 text-center">{{ page.rpgdescription }}</h5>
	{%- endif %}

	<nav class="mt-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">NightB1ade’s Sites</a></li>
			{%- if page.rpgtitle != null %}
			<li class="breadcrumb-item"><a href="{{ '/' | relative_url }}">Role Playing Games</a></li>
			{%- endif %}
			{%- assign crumbs = page.url | remove: "/index.html" | split: "/" %}
			{%- for crumb in crumbs offset: 1 %}
				{%- if forloop.last == false %}
					{%- case crumb %}
						{%- when "Lancer" %}
			<li class="breadcrumb-item">Lancer</li>
						{%- when "Lore" %}
			<li class="breadcrumb-item">Lore</li>
						{%- when "OperationSolsticeRain" %}
			<li class="breadcrumb-item"><a href="{{ '/Lancer/OperationSolsticeRain/' | relative_url }}">Operation Solstice Rain</a></li>
						{%- when "RollForShoes" %}
			<li class="breadcrumb-item">Roll for Shoes</li>
					{%- endcase %}
				{%- endif %}
			{%- endfor %}
			<li class="breadcrumb-item active">{{ page.title | default: page.rpgtitle | default: site.title }}</li>
		</ol>
	</nav>
</div>
</section>
