<section id="title">
	<h1>
		{%- if page.title != null -%}
			{{ page.title }}
		{%- else -%}
			{{ page.rpgtitle | default: site.title }}
		{%- endif -%}
	</h1>
	<p>
		{%- if page.title != null -%}
			{%- if page.backlink != null and page.pagetype != "index" -%}
				<a href="{{ page.backlink | relative_url }}">{{ page.rpgtitle }}{{ page.subtitlesuffix | prepend: ": " }}</a>
			{%- else -%}
				<a href="{{ page.rpgrootlink | relative_url }}">{{ page.rpgtitle }}</a>
			{%- endif -%}
		{%- else -%}
			{{ page.rpgdescription | default: site.description }}
		{%- endif -%}
	</p>
</section>
