@import "normalize";

body {
	padding: 0;
	margin: 20px 10px;
	font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f0e7d5;
	font-weight: normal;
	background: #252525;
	background-attachment: fixed !important;
	background: linear_gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
	color: #e8e8e8;
	margin: 10px 0;
	font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

h1, h2, h3 {
	line-height:1.1;
}

h1 {
	font-size:28px;
}

h2 {
	font-size: 20px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #b6b6b6;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #b6b6b6;
}

h4, h5, h6 {
	color:#e8e8e8;
}

a {
	color:#ffcc00;
	font-weight:400;
	text-decoration:none;

	&:hover {
		color: #ffeb9b;
	}
}

/*------------------------------------------------------------------------------------------------*/

section {
	max-width: 1080px;
	margin: 0 auto;
}

/*------------------------------------------------------------------------------------------------*/

table {
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343;
	color: #b6b6b6;
	font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
}

td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343;
}

/*------------------------------------------------------------------------------------------------*/

@import "title";
